@media screen and (min-width: 600px) {
  .desktop-container {
    margin: 0 auto;
    max-width: 140.4rem;
    background: #e5e5e5;
  }

  .hero {
    background-image: url(./desktop-ingrediants/Header\ bg.png);
    background-repeat: no-repeat;
    max-width: 140.4rem;
    margin: 0 auto;
    background-position-y: 90px;
    height: 91.8rem;
    border-bottom-left-radius: 120px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 12rem;
  }

  .navigation-links {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .navigation-links a {
    text-decoration: none;
    list-style: none;
    color: #344563;
  }

  .headline {
    max-width: 92rem;
    grid-template-columns: auto;
    margin: 0 auto;
  }

  .primary-header {
    margin-top: 22rem;
    font-size: 4.8rem;
    font-weight: 700;
  }

  .primary-decrption {
    max-width: 920px;
    height: 98px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .project {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2rem;
    max-width: 1156px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 14.2rem;
  }

  .project .card-img {
    width: 650px;
    padding: 2.4rem;
    height: 448px;
  }

  .project-container {
    display: flex;
    gap: 1.8rem;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .project-info {
    font-weight: 500;
    font-size: 16px;
  }

  .project-card-header {
    font-size: 5rem;
    font-weight: 700;
  }

  .card-decrption {
    font-size: 1.8rem;
    width: 550px;
  }

  .programming-lang {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
  }

  .project-btn {
    font-weight: 500;
    font-size: 20px;
  }

  .first-card {
    margin-top: 14rem;
    padding-right: 4.8rem;
  }

  .second-card {
    padding-left: 4.8rem;
  }

  .third-card {
    padding-right: 4.8rem;
  }

  .forth-card {
    padding-left: 4.8rem;
  }

  .section-about {
    background: #fff;
    margin-top: 0;
  }

  .about {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 9.6rem;
    box-shadow: none;
  }

  .programming-skill {
    flex-direction: row;
  }

  .programming-skill li {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 122px;
    height: 120px;
    font-weight: 500;
    font-size: 15px;
  }

  .header-about {
    font-weight: 700;
    font-size: 40px;
  }

  .description-about {
    max-width: 544px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 2.4rem auto;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 140.4rem;
    margin: 0 auto;
    background-image: url(./desktop-ingrediants/contact\ form\ background\ shapes@2x.png);
  }

  .form-description {
    max-width: 569px;
    margin: 0 auto;
  }

  .form-elements {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  textarea {
    margin-bottom: 3rem;
  }
}
