.hidescrollbar {
  overflow-y: hidden;
  height: 100vh;
}

@media screen and (min-width: 600px) {
  .desktop-container {
    margin: 0 auto;
    max-width: 140.4rem;
    background: #f1f3f5;
  }

  .hero {
    background-image: url(./desktop-ingrediants/Header\ bg.png);
    background-repeat: no-repeat;
    max-width: 140.4rem;
    margin: 0 auto;
    background-position-y: 90px;
    height: 91.8rem;
  }

  .humbarger-btn {
    display: none;
  }

  .header,
  .navigation ul {
    display: flex;
    justify-content: space-between;
  }

  .navigation ul {
    gap: 3.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .navigation-links a {
    text-decoration: none;
    color: #344563;
    transition: all 50s ease-in-out;
  }

  .headline {
    max-width: 92rem;
    grid-template-columns: auto;
    margin: 0 auto;
  }

  .primary-header {
    margin-top: 22rem;
    font-size: 4.8rem;
    font-weight: 700;
    animation: moveInLeft 1s ease-in-out;
  }

  .primary-decrption {
    max-width: 92rem;
    height: 9.8rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    animation: moveInRight 1s ease-in-out;
  }

  .secondary-header {
    animation: moveInBottom 1s ease-in-out;
  }

  .links {
    animation: moveInBottom 1s ease-in-out;
  }

  .section-projects {
    gap: 12rem;
  }

  .project {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 115.6rem;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 4rem;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project:last-child {
    margin-bottom: 12rem;
  }

  .project:first-child {
    margin-top: 20rem;
  }

  .project .card-img {
    max-width: 54.4rem;
    padding: 2.4rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .project-container:first-child {
    margin-left: 0 !important;
    margin-right: 2.4rem;
  }
  .project-container:nth-child(even) {
    margin-left: 2.4rem;
  }

  .project-info {
    font-weight: 500;
    font-size: 1.8rem;
  }

  .dot-icon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .project-card-header {
    font-size: 5rem;
    font-weight: 700;
  }

  .card-decrption {
    font-size: 1.8rem;
    max-width: 46.9rem;
    margin-top: 3.8rem;
  }

  .programming-lang {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
    justify-content: center;
  }

  .project-btn {
    font-weight: 500;
    font-size: 2rem;
  }

  .first-card {
    margin-top: 9rem;
  }

  .section-about {
    background: #fff;
    margin-top: 0;
  }

  .third-card .project-container .project-btn .btn {
    background: #4053fc;
    color: #fff;
  }

  .third-card .project-container .project-btn .btn:hover {
    color: #4053fc;
    background: #fff;
  }

  .model {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #ebecf0;
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
    max-width: 115.6rem;
    margin: 0 auto;
    padding: 2.4rem;
  }

  .model__header {
    font-weight: 700;
    font-size: 40px;
  }

  .model-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    font-size: 15px;
  }

  .model-img {
    width: 110.8rem;
    height: 58.8rem;
    margin-top: 3.2rem;
  }

  .model-info-desription {
    display: grid;
    grid-template-columns: 778px auto;
    margin-bottom: 3.2rem;
  }

  .model-decrption {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }

  .model-info-desription {
    margin-top: 3.2rem;
  }

  .programming-skills {
    display: flex;
    gap: 3rem;
    margin: 3.2rem 0 0 4.2rem;
    font-weight: 500;
    font-size: 12px;
  }

  .programming-skills li {
    padding: 0.6rem;
    background: #ebebff;
    border-radius: 1rem;
    color: #6070ff;
  }

  .breakline {
    margin: 3.4rem 2.8rem 3.4rem 2.8rem;
    border: 1px solid #ebecf0;
  }

  .model_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .see-live,
  .see-source {
    font-weight: 500;
    font-size: 15px;
    color: #396df2;
    text-decoration: none;
    padding: 0.6rem 1.8rem 0.6rem 1.8rem;
    border-radius: 1rem;
    border: 1px solid #396df2;
    margin-left: 2.2rem;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  .about {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 9.6rem;
    box-shadow: none;
  }

  .programming-skill {
    flex-direction: row;
  }

  .programming-skill li {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 12.2rem;
    height: 12rem;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .header-about {
    font-weight: 700;
    font-size: 4rem;
  }

  .description-about {
    max-width: 54.4rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 2.4rem auto;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 140.4rem;
    margin: 0 auto;
    background-image: url(./desktop-ingrediants/contact\ form\ background\ shapes@2x.png);
    background-size: cover;
  }

  .form-description {
    max-width: 56.9rem;
    margin: 0 auto 2rem auto;
  }

  .form-elements {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .form-elements input {
    border-radius: 0.1rem;
    font-weight: 400;
    font-size: 1.7rem;
    width: 44.7rem;
  }

  textarea {
    margin-bottom: 3rem;
    width: 44.7rem;
  }

  .btn-submit {
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url(./mobile-ingrediants/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-position: 0 8.8rem;
  }

  .primary-header {
    margin-top: 9.6rem;
  }

  .navigation-btn {
    background-color: transparent;
    border: none;
  }

  .navigation {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    background: #6070ff;
    mix-blend-mode: multiply;
    backdrop-filter: blur(10px);
    padding: 4.8rem 0 0 2.8rem;
    height: 100vh;
    width: 100vw;
    font-size: 4rem;
    z-index: 2;
    color: #fff;
    animation: moveInBottom 1s ease-in-out;
  }

  @keyframes moveInBottom {
    0% {
      transform: translateY(110%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .navigation-links a {
    text-decoration: none;
    color: #fff;
  }

  .humbarger-btn {
    z-index: 9;
    position: absolute;
    right: 0;
    padding: 0 2.8rem 0 0;
  }

  .navigation-links.open-nav {
    display: none;
  }

  .project-info h4 {
    margin-bottom: 0.8rem;
  }

  .card-img {
    max-width: 295px;
    overflow: hidden;
  }

  .second-card,
  .forth-card {
    flex-direction: column-reverse;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6070ff;
    gap: 24px;
    padding: 20px;
    width: auto;
    border-top-left-radius: 9rem 8rem;
    text-align: center;
    background-image: url(./mobile-ingrediants/contact\ form\ shapes-mobile.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
  }

  .form-header {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }

  .form-description {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
  }

  .form-elements input {
    height: 50px;
    border-radius: 6px;
    border: none;
    margin-bottom: 20px;
    color: #172b4d;
    padding: 15px;
    font-weight: 400;
    font-size: 17px;
    width: 30rem;
  }

  .form-elements input::placeholder {
    color: #000;
  }

  .form-elements textarea::placeholder {
    padding: 15px;
    font-weight: 400;
    font-size: 17px;
  }

  textarea {
    width: 30rem;
    border: none;
    color: #b3bac5;
    margin-bottom: 2rem;
  }

  .model__header_container {
    display: flex;
    flex-direction: column;
  }

  .model {
    width: 343px;
    border: 1px solid #555;
    border-radius: 1.2rem;
    background: #fff;
    height: auto;
    margin: auto auto;
    z-index: 99999;
    padding: 2.4rem;
  }

  .model-img {
    width: 100%;
    height: 220px;
    margin-top: 1.2rem;
  }

  .model__header {
    font-weight: 700;
    font-size: 32px;
  }

  .model__header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .model-decrption {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .model-info {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-top: 2rem;
  }

  .model_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    font-weight: 500;
    font-size: 15px;
  }

  .see-live,
  .see-source {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-align: center;
    color: #396df2;
    border: 1px solid #396df2;
    border-radius: 12px;
    padding: 0.6rem 2rem;
  }

  .dot-icon {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  70% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  70% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.error {
  font-size: 2rem;
  color: #fff;
}
