body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./mobile-ingrediants/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-size: 62.25%;
}

.container {
  padding: 2.8rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-header {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 6rem;
  color: #172b4d;
}

.primary-decrption {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
  color: #344563;
}

.secondary-header {
  font-size: 1.6rem;
  color: #7f8cff;
}

.links {
  display: flex;
  justify-content: flex-start;
  gap: 2.2rem;
  align-items: center;
}
