.section-header {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(mobile-ingrediants/header-background-mobile.png);
  border: 1px solid gold;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px;
}

.headline-titile,
.headline-primary-decrption,
.headline-secondary-title {
  font-family: 'Poppins';
  padding: 32px;
}

.headline-titile {
  position: absolute;
  top: 20%;
  font-size: 35px;
  line-height: 52px;
  color: #172b4d;
}

.headline-primary-decrption {
  position: absolute;
  top: 40%;
  text-align: justify;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline-secondary-title {
  position: absolute;
  top: 60%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-icons {
  margin-top: 10px;
}
